ion-button{
    ion-note {
        color: white;
        margin-right: 10px;
        font-size: 22px;
    }
}
.editedDate {
    position: fixed;
    bottom: 60px;
    padding-left: 35px;
    padding-left: 15px;
}
.searchbar-input-container sc-ion-searchbar-ios{
    background: #fff;
}